a, a:visited {
  color: #272b33;
}
body {
  background-color: #E6E2AF;
  color: #272b33;
  font-family: Lato, Helvetica, Arial, sans-serif;
}

.container {
  max-width: 930px;
  margin: 0 auto;
  > p {
    margin: 1em auto;
    max-width: 700px;
    padding: 0 5px;
    line-height: 1.6;
    font-size: .9em;
    code {
      font-size: 1.3em;
    }
  }
}

.header {
  font-family: Raleway;
  text-align: center;
  color: #272b33;
  margin: 20px;
  > * {
    margin: 10px;
  }
}

hr {
  border-color: #abb1c2;
  border-bottom: none;
  margin: 30px 50px;
}
